* {
  margin: 0;
  padding: 0;
  border: 0;
}
/*就是个具有弹性元素的盒子,平分3分,且不可继承*/
@media screen and (min-width: 768px) {
  .col .footer-col-box {
    display: flex;
    width: 25vw;
    padding: 0 15px;
    box-sizing: border-box;
    flex-grow: 1;
  }
}
@media screen and (max-width: 768px) {
  .col .footer-col-box {
    width: 80vw;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
/*盒子成一行排列,可以换行*/
.row {
  width: 80vw;
  margin: 0 10vw;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
footer {
  background: #34b47f;
}
footer .footer-p {
  font-weight: normal;
  font-size: 10px;
  color: white;
  border-bottom: 1px solid #34b47f;
}
footer .footer-box {
  width: 80vw;
  margin: 0 10vw;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  footer .footer-box .footer-col-box {
    display: flex;
    width: 25vw;
    padding: 0 15px;
    box-sizing: border-box;
    flex-grow: 1;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-box .footer-col-box {
    width: 80vw;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
footer .footer-box .footer-p-1 {
  font-weight: normal;
  font-size: 10px;
  color: white;
  border-bottom: 1px solid #34b47f;
  margin: 0 3px;
}
footer .footer-box .footer-l-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer-box .footer-l-box .footer-l-b-box {
  display: flex;
}
footer .footer-box .footer-l-box .footer-l-b-box .footer-p-1 {
  cursor: pointer;
  margin: 0 3px;
}
footer .footer-box .footer-l-box .footer-l-b-box .footer-p {
  cursor: pointer;
}
footer .footer-box .footer-l-box .footer-l-b-box .footer-p:hover {
  border-bottom: 1px solid white;
}
footer .footer-box .footer-c-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-box .footer-c-box .f-flex {
  display: flex;
}
footer .footer-box .footer-c-box .f-flex .footer-p {
  cursor: pointer;
}
footer .footer-box .footer-c-box .f-flex .footer-p-1 {
  cursor: pointer;
}
footer .footer-box .footer-c-box .f-flex .footer-p:hover {
  border-bottom: 1px solid white;
}
footer .footer-box .footer-c-box .f-flex .footer-p-1:hover {
  border-bottom: 1px solid white;
}
footer .footer-box .footer-r-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer-box .footer-r-box .footer-r-img {
  width: 72px;
  cursor: pointer;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  footer .footer-box .footer-r-box {
    align-items: flex-start;
  }
}
.footer-2 {
  color: white;
  background-color: #34b47f;
  text-align: center;
  border-top: 1px solid #32c086;
}
