* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(239, 240, 244);
}
/*头部样式*/
.header {
    display:flex;
    justify-content:space-around;
    align-items:center;
    height: 40px;
    background-color: rgb(95, 192, 205);
}

.header-botton{
    background-color: rgb(95, 192, 205);
    cursor: pointer;
    color: white;
}

.header-p{
    font-size: 20px;
    color: white;
}
/*主题样式*/
.main {
    display: flex;
    align-items:center;
    background-color: white;
    height: 54px;
    margin-top: 16px;
}
.main-ioc {
    height: 24px;
    width: 15px;
    padding:10px;
   border-right: 1px solid rgb(239, 240, 244);
}
.main-txt {
    margin-left: 15px;
    outline: none;
}

.a {
    font-size: 14px;
    color: white;
}



.footer {
    background-color: rgb(95, 192, 205);
    width: 100%;
    line-height: 3;
    font-size: 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

.bring {
    background-color: rgb(239, 240, 244);
    position: fixed;
    right: 16px;
    font-size: 12px;
    text-decoration: underline;
    color: rgb(95, 192, 205);
    margin-top: 88px;
    cursor: pointer;
}


