* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: #eff0f4;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5fc0cd;
}
.header .header-p {
  font-size: 20px;
  color: white;
  padding: 10px 0;
}
.header .header-button {
  font-size: 15px;
  color: white;
  background: #5fc0cd;
  margin: 0 10px;
  cursor: pointer;
}
.main {
  margin-top: 10px;
}
.main .main-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background: white;
  padding: 10px 0;
}
.main .main-box .input-ioc {
  height: 24px;
  width: 15px;
  padding: 0 10px;
  border-right: 1px solid #eff0f4;
}
.main .main-box .input-box {
  font-size: 15px;
  color: black;
  margin-left: 15px;
  outline: none;
  /*去除输入框的默认样式*/
  flex-grow: 1;
}
.main .main-box input::placeholder {
  color: #eff0f4;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5fc0cd;
}
.footer .footer-button {
  font-size: 20px;
  color: white;
  width: 100vw;
  padding: 15px 0;
  background: #5fc0cd;
  cursor: pointer;
}
.forget {
  display: flex;
  flex-direction: row-reverse;
}
.forget .forget-button {
  font-size: 15px;
  color: #5fc0cd;
  background: #eff0f4;
  margin: 10px 10px 0 0;
  cursor: pointer;
}
