* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 10px;
}

p {
    margin: 0;
}

/*header样式*/
.header {
    padding: 1rem 0;
}

.header-logo-container {
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2rem;
    text-align: center;
    border: 0.1rem solid rgb(52, 180, 127);
    border-radius: 50%;
    margin-right: 1rem;
    flex-shrink:0;
}

.header-p {
    font-size: 1.3rem;
    color: rgb(52, 180, 127);

}
.img-container{
    width: 100%;
    height: 40vh;
}
/*nav样式*/
.nav-container {
    background-color: rgb(41, 176, 120);
    color: white;
}

.nav-a {
    font-size: 1.7rem;
    padding: 20px 0 20px 10px;

}

.nav-item:hover .nav-li {
    visibility: visible;
}

.nav-li {
    visibility: hidden;
    border-bottom: 1px solid white;

}
@media screen and (max-width: 768px) {
    .nav-center{
     align-items:center;
   }
 }
/*main-nav*/
.main-container{
    background-color: rgb(250,250,250);
    padding:0 0 10rem 0;
}
.main-nav-container{
    border:0.1rem solid #E1E1E1;
    text-align: center;
    background-color:white;
}
.main-nav-container-t{
    padding:10px 0;
    font-size:1.7rem;
    font-weight: 900;
    border-bottom: 1px solid #E1E1E1;
}

.main-nav-container-a{
    padding:0 0 0 1rem;
    color:rgb(52, 180, 127);
    flex-shrink:0;
}
.main-nav-container-box{
    width: 1rem;
    height: 1rem;
    border:2px solid #FF650E;
    border-radius: 50%;
    margin-right: 1rem;
    flex-shrink:0;
}
.nav-item:hover .main-nav-container-box{
    background-color: #FF650E;
}
/*main-p*/
.main-p-conmainer{
    border:0.1rem solid #E1E1E1;
    background-color:white;
    
}
.main-p{
    font-size:1.3rem;
    color:#999999;
    padding:1.6rem 2.5rem;
}
.main-p-box{
    border-bottom: 0.1rem solid #E1E1E1;
}
.main-p-img{
    float: left;
    padding:1.6rem 2.5rem;
}

/*footer-2*/
.footer-2 {
    background-color: rgb(38, 162, 111);
    color: white;
    font-size: 1rem;
    padding: 2rem 0;
}
.footer-2-p{
    flex-shrink:0;
    border-bottom:1px solid rgb(38, 162, 111);
    margin:10px 0;
    cursor:pointer;
}
.footer-2-p-0{
    flex-shrink:0;
    border-bottom:1px solid rgb(38, 162, 111);
    margin:10px 0;
}
.footer-2-p-i{
    flex-shrink:0;
    margin:10px 2px;
}
.footer-2-p-left{
    flex-shrink:0;
    border-bottom:1px solid rgb(38, 162, 111);
    margin:10px 0;
    margin-left:5px;
    cursor:pointer;
}
.footer-2-p:hover{
    border-bottom: 1px solid white;
}
.footer-2-p-left:hover{
    border-bottom: 1px solid white;
}

.footer-2-img {
    width: 6rem;
    cursor:pointer;
}
.footer-3 {
    color: white;
    background-color: rgb(38, 162, 111);
    text-align: center;
    border-top: 1px solid rgb(50, 192, 134)
}
.footer-ioc{
    align-items: flex-end;
}
@media screen and (max-width: 768px) {
    .footer-ioc{
        align-items: flex-start;
       
    }
}